body {
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #66ccff;
    display:flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
}

.task{
    display: block;
    padding: 1rem;
    margin: 0.45rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    cursor:pointer;
    /* color: white; */
}

.task:hover{
    background: #ff86e5;
}


.todoListMain .header input{
    padding: 10px;
    margin-left: 10px;
    border: 2px white solid;
    font-size: 1.2rem;
    width: 165px;
    border-radius: 0.25rem;
}

ul[class]{
    padding: 0;
    list-style-type: none;

}

.todoListMain .header button{
    padding: 10px;
    margin-left: 10px;
    color: white;
    border: 2px solid #0066ff;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    background: #0066ff;
    cursor:pointer;

}

.todoListMain .header button:hover{
    background: #003399;
    border: 2px solid #003399;
}